### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule Rafal-Strus index.html
RewriteRule bateria-stan Bateria.html
RewriteRule linux-unix linux.html
RewriteRule diament diament.html
RewriteRule blue-tooth bluetooth.html