@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
#general {
    margin: 0px;
    padding-left: 40%;
    background-color: #fff;
    padding-top: 25%;
}

.kafle {
    position: relative;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
    height: 60px;
    border-radius: 10px;
    width: 60px;
    float: left;
    background-color: #efebe9;
}

#d1,
#d4,
#d7 {
    clear: both;
}

#motyw {
    padding-top: 5px;
    padding-bottom: 0px;
    height: 30px;
    width: 200px;
    clear: both;
    text-align: center;
}

#restart {
    height: auto;
    padding: 10px;
    width: 180px;
    clear: both;
}

#textbox {
    background-color: #efebe9;
    height: 43px;
    padding: 10px;
    width: 180px;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}

#p_reset {
    margin: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}

#button {
    background-color: #efebe9;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
    width: 99px;
    height: 63px;
    border-style: none;
    border-radius: 10px 0 0 10px;
    margin: -10 1 0 -10;
    text-align: center;
    display: inline-block;
    font-size: 36px;
    font-weight: 400;
}

#button2 {
    background-color: #efebe9;
    float: right;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
    width: 99px;
    height: 63px;
    border-style: none;
    border-radius: 0 10px 10px 0;
    margin: -10 -10 0 1;
    text-align: center;
    display: inline-block;
    font-size: 36px;
    font-weight: 400;
}