@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

body {
  position: relative;
  color: var(--main-fg-colour);
  background-color: var(--body-bg-colour);
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

#color_changer {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  top: 200px;
  position: fixed;
  z-index: +2;
  background-color: var(--colour-changer-button);
  height: 70px;
  border-radius: 0px 20px 20px 0px;
  width: 60px;
}

#sticky {
  position: fixed;
  text-align: center;
  top: 0%;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 4px 1px;
  padding: 15px;
  color: var(--main-fg-colour);
  background-color: var(--main-bg-colour);
  transition: bottom 0.3s ease 0s;
  height: 40px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: space-between;
  right: 0px;
  left: 0px;
}

#f_left {
  float: left;
}

#f_right {
  float: right;
}

a {
  text-decoration: none;
  color: inherit;
}

#main_container {
  color: var(--main-fg-colour);
  background-color: var(--main-bg-colour);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 85px 16% 1.5% 16%;
  padding: 40px;
  text-indent: 20px;
}

/* tictactoe */

.ttt div {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: var(--main-bg-colour);
  margin: 0.3vw;
  padding: 2px;
  display: grid;
}

.ttt #game {
  grid-template-columns: 8vw 8vw 8vw;
  grid-template-rows: 8vw 8vw 8vw;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.ttt {
  display: grid;
  font-size: 4.5vw;
  text-align: center;
  font-weight: 500;
}

.ttt img {
  width: 100%;
}

/* //tictactoe// */

.pixele {
  color: var(--kafle-fg-colour);
  position: relative;
  height: 10px;
  width: 10px;
  float: left;
  background-color: var(--main-bg-colour);
}

/* szachy */
.szachy {
  position: relative;
  height: 8vw;
  width: 8vw;
  float: left;
  font-size: 4.5vw;
}

.dark_tile {
  background-color: var(--szafy-bg-colour);
}

.light_tile {
  background-color: var(--szafy-fg-colour);
}

.cb {
  clear: both;
}

/* //szachy// */

/* .navbar { */
/* overflow: hidden; */
/* background-color: #333; */
/* } */

#sticky a {
  /* float: left; */
  font-size: 2em;
  /* color: white; */
  text-align: center;
  /* text-decoration: none; */
}

/* .dropdown { */
/* float: left; */
/* overflow: hidden; */
/* } */

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 2em;
  border: none;
  outline: none;
  /* color: white; */
  padding-right: 15px;
  background-color: inherit;
  font-family: inherit;
  /* margin: 0; */
}

/* .navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: #666;
} */

.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  /* float: none; */
  /* color: black; */
  padding: 12px 16px;
  /* text-decoration: none; */
  display: block;
  /* text-align: left; */
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* 
@media screen and (max-width: 71em) {
  .ttt {
    padding: 8vw;
  }

  #textbox {
    height: 15vw;
    padding: 3vw;
    width: 72vw;
  }

  .kafle {
    margin: 1.5vw;
    height: 24vw;
    border-radius: 20px;
    width: 24vw;
    font-size: 13.5vw;
  }

  #restart {
    padding: 3vw;
    width: 72vw;
  }

  #pole {
    height: 24vw;
    width: 24vw;
  }

  .b_kafle {
    font-size: 13.5vw;
    width: 36vw;
  }
} */