@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    margin:0;
}
#main_container{
    background-color: #616161;
    height: 300%;
    width: 100%;
    margin-left: 0;
}
#sticky{
    position: sticky;
    top:0px;
    height: 80px;
    background-color: #373737;
    padding:3%;
}
#logo{
    position: relative;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    border-radius:90px;
    background-color: #d81b60;
    height: 80px; 
    width: 80px;
    float: left;
}
#nav{
    border-radius:3px;
    border-style: solid;
    border-width: 1px;
    border-color: #616161;
    font-size: 200%;
    text-align: center;
    position: relative;
    float: right;
    height: 40px;
    width: 14%;
    background-color: #373737;
    margin: 20px 20px 20px 0;
}
a{
    text-decoration: none;
    color: inherit;
}
#container{
    padding: 50px 100px 0 100px;
}
@media screen and (max-width: 71em) {

}